<DeviceMiniGraph xmlns="Microsoft.Search.Autopilot.Evolution" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
{% include 'png.j2' %}
{% include 'device.j2' %}
{% include 'meta.j2' %}
  <Hostname>{{ item.hostname }}</Hostname>
  <HwSku>{{ hwsku }}</HwSku>
</DeviceMiniGraph>

