---
syslog_servers: {{syslog_servers}}
dhcp_servers: {{dhcp_servers}}
forced_mgmt_routes: {{forced_mgmt_routes}}
ntp_servers: {{ntp_servers}}
snmp_servers: {{snmp_servers}}
tacacs_servers: {{tacacs_servers}}
radius_servers: {{radius_servers}}
erspan_dest: {{erspan_dest}}
tacacs_group: {{tacacs_group}}

t0vlan: {{t0vlan}}
t0asnumber: {{t0asnumber}}
t1asnumber: {{t1asnumber}}
t2asnumber: {{t2asnumber}}

t0:
{% for device in range((tor)|int) %}
  - hostname: T0-{{loop.index}}
    tierindex: {{loop.index0}}
    devtype: ToRRouter
    devtypeup: LeafRouter
{% set hostaddr = Tier0['mgmtstartaddr'] + loop.index0 %}
{% set hostaddr6 = Tier0['mgmtstartaddr6'] + loop.index0 %}
    mgmtaddr: {{Tier0['mgmtnetwork'] | ipsubnet(32,hostaddr) | ipaddr('address')}}/{{Tier0['mgmtnetwork'] | ipaddr('prefix') }}
{{ Tier0['mgmtnetwork6'] | ipv6('host/prefix') | ipaddr('network') | ipsubnet(96,0) | ipaddr(hostaddr6)  }}
{{ Tier0['mgmtnetwork6'] }}
{{ Tier0['mgmtnetwork6'] | ipv6('network') }}
{{ Tier0['mgmtnetwork6'] | ipv6('host/prefix') | ipaddr('network')}}
{{ Tier0['mgmtnetwork6'] | ipv6('host/prefix') | ipaddr('network') | ipsubnet(96,0)}}
{% endfor %}
